{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>Profile User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <h3>Posts :</h3>
        {% for post in user.blogPosts |slice(0, 10) %}
            <h2> {{ post.title}} </h2>
            <div>
                <p>{{ post.content }}</p>
            </div>
        {% endfor %}

    </div>
    <a href="{{ path('home') }}">back to list</a>    

{% endblock %}
